body{
	margin: 0;
	padding: 0;
	background-color: #29B1CC;
	font-family: Gilroy;
}
.MenuBox p{
	margin: 0;
	margin-bottom: 4px;
	padding: 0;
	position: relative;
	top: 25px;
	left: 15px;
	z-index: 1;
	background: #708090;
	width: 35px;
	height: 5px;
	border-radius: 100px;
}
.MenuBox input[type="checkbox"]{
	position: absolute;
	z-index: 2;
	width: 35px;
	height: 35px;
	top: 20px;
	left: 12px;
	opacity: 0;
}
.Menu li{
	list-style-type: none;
	padding: 10px;
}
.Menu ul{
	margin: 0;
	padding: 0;
}
.Menu{
	border-radius: 20px;
	margin-top: 10px;
	margin-left: -350px;
	font-size: 25px;
	font-weight: 500;
	left: 5px;
	top: 0;
	position: absolute;
	padding: 60px;
	background: #DCDCDC;
	transform: none;
	transition: transform 0.5s;
	box-shadow: 16px 14px 8px 0px rgba(34, 60, 80, 0.2);
}
.MenuBox input:checked ~ ul{
  	transform: translate(112%, 0);
	transition: transform 0.5s;
}
.MenuBox input:checked ~ p{
  	background: #000000;
}
.MenuBox a{
	text-decoration: none;
	color: #000000;
	transition: color 0.3s ease;
}
.MenuBox a:hover{
    color: #D8BFD8;
}
.MenuBox li:hover{
	background: #E0FFFF; 
}